:root {
  --sidebar-width: 260px;
  --page-bg: #F3F6FA;
}

html,
body,
#root,
#root *,
.ant-app,
.ant-app *,
.app-root,
.app-root * {
  font-family: 'Roboto Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif !important;
}

h1, h2, h3 {
  text-rendering: optimizeSpeed;
}
